<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Store_online">
        <activity
            android:name=".product.DetailCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".profile.edit_profile.ChangeEmailAdressActivity"
            android:exported="false" />
        <activity
            android:name=".profile.edit_profile.EditPhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".profile.edit_profile.EditBirthdayActivity"
            android:exported="false" />
        <activity
            android:name=".profile.edit_profile.EditGenderActivity"
            android:exported="false" />
        <activity
            android:name=".profile.edit_profile.EditNickNameActivity"
            android:exported="false" />
        <activity
            android:name=".profile.edit_profile.EditFullNameActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AccountInformationActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>